@import '../../../assets/styles/settings.scss';

.root {
  padding: 0 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: $color-main-light;
  width: 50%;

  .searchInput {
    margin-top: 40px;
    border: none;
    border-bottom: 1px solid $color-main-light;
    outline: none;
    color: $color-main-dark;
    font-weight: 600;
    letter-spacing: .1rem;
  }

  .searchIcon {
    cursor: pointer;
  }

  @media(max-width: 740px) {
    margin: 15px auto 30px;
    width: 100%;

    .searchInput {
      margin-top: 0px;
    }
  }

}
