@import '../../../styles/settings.scss';

.root {
  height: 40px;
  background-color: $color-main-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lighten($color-main-dark, 50%);
  font-size: $base-size;
  padding: 0 200px;

  .icon {
    color: $color-main-light;
    font-size: 18px;

    &:hover {
      transform: scale(1.2);
    }
  }

  @media(max-width:980px ) {
    padding: 0 100px;
  }

  @media(max-width:740px ) {
    padding: 0 20px;
  }
}
