@import '../../../assets/styles/settings.scss';

.root {
  padding: 40px 200px;
  min-height: calc(100vh - 100px);

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }

  .order {
    padding: 8px 14px;
    height: 40px;
    width: 80px;
    background-color: $color-main-dark;
    color: #fff;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: lighten($color-main-dark, 10%);
      color: $color-main-light;
    }
  }

  @media (max-width: 840px) {
    padding: 40px 100px;
  }
}
