$color-main-light: #87c00a;
$color-main-dark: #454539;

$color-text: #141414;
$color-text-bright: #fff;

$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$radius: 5px;
$base-size: 14px;
$transition: all 0.5s;
